[toolio] {
    --T_BACKGROUND: #252525;
    --T_COLOR: white;
    --T_BORDERRADIUS: 3px;
    --T_FONTSIZE: .9rem;
    --T_PADDING: .5rem .75rem .4rem;
    --T_LINEHEIGT: var(--T_FONTSIZE);
    --T_FONTWEIGHT: normal;
    --T_EASING-ENTER: .25s ease .125s;
    --T_EASING-LEAVE: .25s ease .25s;
    --T_TEXTDECORATION: underline dotted;

    position: relative;
    text-decoration: var(--T_TEXTDECORATION);
    cursor: pointer;
}

[toolio] * {
    box-sizing: border-box;
}

.toolio-tip {
    position: absolute;
    padding: var(--T_PADDING);
    color: var(--T_COLOR);
    background: var(--T_BACKGROUND);
    font-size: var(--T_FONTSIZE);
    font-weight: var(--T_FONTWEIGHT);
    line-height: var(--T_LINEHEIGT);
    border-radius: var(--T_BORDERRADIUS);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    z-index: 999;

    opacity: 0;
    transform: translate(-50%, calc(-100% - .25rem));
    transition: var(--T_EASING-LEAVE);

    &--show {
        opacity: 1;
        visibility: visible;
        transition: var(--T_EASING-ENTER);
    }

    /* Top tooltip */
    &--top {
        top: 0;
        left: 50%; 
        transform: translate(-50%, calc(-100% - .25rem));  

        &-start,
        &-end {
            top: 0;
            transform: translate(0, calc(-100% - .25rem));
        }
        
        &-start {
            left: 0;
        }

        &-end {
            right: 0;
        }        
    }

    &[class*="--top"] {
        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: 100%;
            left: 50%;
            margin-top: -1px;
            transform: translateX(-50%);
            border-radius: 2px;
            border-left: .4rem solid transparent;
            border-right: .4rem solid transparent;
            border-top: .4rem solid var(--T_BACKGROUND);
        }

        &[class*="-start"]::after {
            left: 1rem; 
        }

        &[class*="-end"]::after {
            left: calc(100% - 1rem); 
        }
    }

    /* Right tooltip */
    &--right {
        top: 50%;
        right: 0;
        transform: translate(calc(100% + .5rem), -50%);

        &-start, 
        &-end {
            right: 0;
            transform: translate(calc(100% + .5rem), 0);
        }

        &-start {
            top: 0;
        }

        &-end {
            bottom: 0;
            top: unset;
        }
    }

    &[class*="--right"] {
        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: 50%;
            bottom: 100%;
            right: 100%;
            margin-right: -1px;
            transform: translateY(-50%);
            border-top: .4rem solid transparent;
            border-bottom: .4rem solid transparent;
            border-right: .4rem solid var(--T_BACKGROUND);
        }
    }

    /* Bottom tooltip */
    &--bottom {
        bottom: -.5rem;
        left: 50%;
        transform: translate(-50%, 100%);

        &-start,
        &-end {
            bottom: -.5rem;
            transform: translate(0, 100%);
        }

        &-start {
            left: 0;
        }

        &-end {
            right: 0;
        }
    }

    &[class*="--bottom"] {
        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            bottom: 100%;
            left: 50%;
            margin-bottom: -1px;
            transform: translateX(-50%);
            border-radius: 2px;
            border-left: .4rem solid transparent;
            border-right: .4rem solid transparent;
            border-bottom: .4rem solid var(--T_BACKGROUND);
        }

        &[class*="-start"]::after {
            left: 1rem; 
        }

        &[class*="-end"]::after {
            left: calc(100% - 1rem); 
        }
    }

    /* Left tooltip */
    &--left {
        top: 50%;
        left: 0;
        transform: translate(calc(-100% - .5rem), -50%);
        
        &-start,
        &-end {
            left: 0;
            transform: translate(calc(-100% - .5rem), 0);
        }

        &-start {
            top: 0;
        }

        &-end {
            bottom: 0;
            top: unset;
        }
    }

    &[class*="--left"] {
        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: 50%;
            bottom: 100%;
            left: 100%;
            margin-left: -1px;
            transform: translateY(-50%);
            border-radius: 2px;
            border-top: .4rem solid transparent;
            border-bottom: .4rem solid transparent;
            border-left: .4rem solid var(--T_BACKGROUND);
        }
    }
}